.chart {
  padding: 1rem;
  border-radius: 12px;
  background: rgb(89, 99, 122);
  background: radial-gradient(
    circle,
    rgba(89, 99, 122, 1) 17%,
    rgba(49, 97, 140, 1) 34%,
    rgba(16, 95, 154, 1) 48%,
    rgba(16, 73, 154, 1) 59%,
    rgba(16, 44, 154, 1) 74%,
    rgba(16, 88, 154, 1) 86%,
    rgba(16, 135, 154, 1) 99%
  );
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}
